In [1]:
import sqlite3

In [9]:
mi_conexion = sqlite3.connect("GestionProductos");

mi_cursor = mi_conexion.cursor()

#CRUD

#CONSULTAR 
mi_cursor.execute("SELECT * FROM PRODUCTOS WHERE SECCION = 'Granos' ")
productos_lista = mi_cursor.fetchall()
print(productos_lista)

#UPDATE
mi_cursor.execute("UPDATE PRODUCTOS SET PRECIO = 35 WHERE CODIGO = '1' ")

#DELETE
mi_cursor.execute("DELETE FROM PRODUCTOS WHERE CODIGO = '2' ")
print(productos_lista)


mi_conexion.commit()
mi_conexion.close()

[('1', 'Arroz', 35, 'Granos'), ('3', 'Lenteja', 2500, 'Granos')]
[('1', 'Arroz', 35, 'Granos'), ('3', 'Lenteja', 2500, 'Granos')]